@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family='Raleway', sans-serif;:500,700,900');
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes color-1 {
  0% {
    background-color: #F5D76E;
  }
  100% {
    background-color: #F5D76E;
  }
}
@keyframes color-1 {
  0% {
    background-color: #F5D76E;
  }
  100% {
    background-color: #F5D76E;
  }
}
::-moz-selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}
::selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}

::-webkit-selection {
  background: #6078EA;
  color: white;
  text-shadow: none;
}

body {
  font-family: 'Montserrat', 'Helevtica', sans-serif;
  position: relative;
  width: 100%;
  height: 86vh;
  background-color: #17EAD9;
  color: #4B4848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 1.25s ease-in-out;
  transition: background-color 1.25s ease-in-out;
}
body.is-focus {
  background-color: #17EAD9;
}

.title-container {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



.title-container .title {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  margin: 0;
  color: #6078EA;
}
.title-container .title-down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  margin: 0;
  color: #6078EA;
}
.is-focus .title-container .title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.is-focus #logo{
    -webkit-transform: translateY(-10%);
          transform: translateY(-10%);  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;

}

.is-type .title-container .title-down{
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.is-type .title-container .title {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}


.field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 330px;
  height: 40px;
}

.icons-container {
  position: absolute;
  top: 11px;
  right: -90px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  border-radius: 50%;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: #6078EA;
  border-left-color: #6078EA;
  border-bottom-color: #6078EA;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.icon-close .x-up {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-up:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 3px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-close .x-up:after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-close .x-down {
  position: relative;
  width: 100%;
  height: 50%;
}
.icon-close .x-down:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-close .x-down:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 1px;
  width: 50%;
  height: 2px;
  background-color: #6078EA;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.is-type .icon-close:before {
  opacity: 1;
  -webkit-animation: spin 0.85s infinite;
          animation: spin 0.85s infinite;
}
.is-type .icon-close .x-up:before, .is-type .icon-close .x-up:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-up:after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.is-type .icon-close .x-down:before, .is-type .icon-close .x-down:after {
  -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-down:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.is-type .icon-close .x-down:after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.icon-search {
  position: relative;
  top: 5px;
  left: 8px;
  width: 50%;
  height: 50%;
  opacity: 1;
  border-radius: 50%;
  border: 3px solid #c7d0f8;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-search:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: -2px;
  width: 4px;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 10px;
  background-color: #c7d0f8;
}

.field {
  border: 0;
      width: 155%;
  height: 100%;
  padding: 10px 20px;
      margin-left: -98px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.field:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}
.field:focus + .icons-container .icon-close {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}



.box2 {
    margin: 0px;
    position: fixed;
    display: inline-block;
    width: 700px;
    height: 150px;
    top: 70%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  }

  /* Create the hidden pseudo-element */
  /* include the shadow for the end state */
  .box2:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  }

  .box2:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .box2:hover:after {
      opacity: 1
  }



  #logo {
    font-family: 'Raleway', sans-serif;;
       font-weight: 900;
    position: absolute;
    width: 0%;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inherit;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    -webkit-transition: background-color 1.25s ease-in-out;
    transition: background-color 1.25s ease-in-out;
    left: 50%;
     top: -19%;


       -webkit-transform: translateY(50%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
    font-size: 53px;
}










@keyframes load-dot-1
{
    0% { top: 0px; opacity: 1; }
    20% { top: 32px; }
    50% { top: 32px; opacity: 1; }
    55% { opacity: 1; }
    80% { top: 80px; opacity: 0; }
    100% { top: 0px; opacity: 0; }
}
@keyframes load-dot-2
{
    0% { top: 0px; opacity: 0; }
    9% { top: 0px; opacity: 0; }
    10% { top: 0px; opacity: 1; }
    30% { top: 32px; }
    50% { top: 32px; opacity: 1; }
    55% { opacity: 1; }
    80% { top: 80px; opacity: 0; }
    100% { top: 0px; opacity: 0; }
}
@keyframes load-dot-3
{
    0% { top: 0px; opacity: 0; }
    19% { top: 0px; opacity: 0; }
    20% { top: 0px; opacity: 1; }
    40% { top: 32px; }
    50% { top: 32px; opacity: 1; }
    55% { opacity: 1; }
    80% { top: 80px; opacity: 0; }
    100% { top: 0px; opacity: 0; }
}
.load-dot-container
{
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
}
.load-dot-1
{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #67809F;
    position: relative;
    display: inline-block;
    left: 16px;
    top: 0px;
    animation: load-dot-1 2.5s infinite;
}
.load-dot-2
{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #67809F;
    position: relative !important;
    display: inline-block;
    left: 28px;
    animation: load-dot-2 2.5s infinite;
}
.load-dot-3
{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #67809F;
    position: relative;
    display: inline-block;
    left: 40px;
    animation: load-dot-3 2.5s infinite;
}


#result, #result-heading, #result2{
     font-family: 'Raleway', sans-serif;;
       font-weight: 900;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;

    left: -274%;
    top: -33%;
}



.results{
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
  }




  .myButton {
  background-color:transparent;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  border:5px solid #2C3E50;
  display:absolute;
  cursor:pointer;
  color:#2C3E50;
  font-family:'Raleway', sans-serif;;
  font-weight:900;
  font-size:18px;
  padding:12px 29px;
  text-decoration: none;
  position:absolute;
    top: 5%;
    left: 70%;


}
.myButton:hover {
  background-color:transparent;
  border-radius:15px;
  border:6px
  font-size:19px;
}
.myButton:active {
   position:fixed;
   border-radius:30px;
   font-size:18px;
  
}
















.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a.btn{
  width:150px;
  display:block;
    margin: 75px 0 0 -75px;
  padding:1em 0;
  position:absolute;
  top: 80%; left:50%;
  font:1.125em 'Arial', sans-serif;
  font-weight:700;
  text-align:center;
  text-decoration:none;
    color: #76d80c;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.21);
}

.modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(255,257,153,0.75);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.modal{
  width:600px;
  height:400px;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;
}

.head{
  width:90%;
  height:32px;
  padding:1.5em 5%;
  overflow:hidden;
      background: #E74C3C;
}

.btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}

.btn-close::before, .btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.content{
  padding:5%;
}

 a.btn {display: none;}




@media only screen and (max-width: 1115px) {
.title-container .title {
        font-size:30px;
}


.title-container .title-down {
font-size: 30px;
  }


    #logo {
    height: 78vh;
    font-size: 45px;
  }


 }


 @media only screen and (max-width: 791px) {
    .myButton{
    /* left: 43%; */
    font-size: 14px;
    border: 4px solid #2C3E50;
    padding: 8px 12px;
    position: fixed;
    top: 5%;
}
.title-container .title {
        font-size: 20px;
}


.title-container .title-down {
font-size: 20px;
  }


    #logo {
    height: 70vh;
    font-size: 45px;
  }
 }



 @media only screen and (max-width: 700px) 
{
  .box2 {
    margin: 0px;
    position: fixed;
    display: inline-block;
    width: 500px;
  }

  #result, #result-heading, #result2 {
    font-family: 'Raleway', sans-serif;;
    font-weight: 900;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
    left: -140%;
    top: -33%;
}
}


 @media only screen and (max-width: 600px) {
  .field-container {
    width: 271px;
    height: 40px;
}
.icon-search {
    position: relative;
    top: 5px;
    left: 2px;
    }

    .field {
    border: 0;
    width: 161%;
    height: 100%;
    padding: 10px 13px;
  }

 }



 @media only screen and (max-width: 500px) {
.myButton {
    left: 25%;
    width: 42%;
    text-align: center;
    font-size: 10px;
}
.box2 {
        width: 96vw;
  }
  #logo {
    height: 60vh;
    font-size: 40px;
  }

.is-focus #logo{
    -webkit-transform: translateY(0%);
          transform: translateY(0%);  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;

}

.title-container .title {
        font-size:25px;
}


.title-container .title-down {
font-size: 25px;
  }

  .field {
    border: 0;
    width: 100%;
    margin-left: 0px;
    height: 100%;
    padding: 10px 13px;
}

.icon-search {
display:none;
  }


#result-heading{
      font-size: 1em;
    margin: 1.67em 0;
    display:none;
}

#result{
  font-size: 16px !important;
}
#result2{
  font-size: 15px !important;
}

}



 @media only screen and (max-width: 450px) {

.icons-container {
    position: absolute;
    top: 11px;
    right: -49px;
  }
 }



 @media only screen and (max-width: 330px) {
.field-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    width: 289px;
}


.title-container .title {
        font-size:20px;
}


.title-container .title-down {
font-size: 20px;
  }


    #logo {
    height: 60vh;
    font-size: 45px;
  }


 }





.bottom-bar{
    position: fixed;
        top: 95.6%;
    width: 100%;
    z-index:5;
}
.bottom-container{
  background-color: #424242;
  padding: 5px;
  text-align: right;
  padding-right: 18px;
}

.bottom-container a{
  text-decoration: none;
  color:#fff;
      font-family: raleway;
    font-size: 13px;
}
#cr{
  float: left;
  margin-left: 20px;
      margin-top: 3px;
}

#separator{
  margin-left: 6px;
  display: inherit;
    margin-right: 6px;
        color: rgba(255, 255, 255, 0.2);
}


 @media only screen and (max-width: 400px) {
#cr{
  display:none;
}
  }





  @import url(https://fonts.googleapis.com/css?family=Material+Icons|Roboto:400,700);

/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icons/MaterialIcons-Regular.eot); /* For IE6-8 *//*
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../icons/MaterialIcons-Regular.woff) format('woff'),
       url(../icons/MaterialIcons-Regular.ttf) format('truetype');
}*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;/* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 3;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;/* Support for all WebKit browsers. */
  vertical-align: sub;
  -webkit-font-smoothing: antialiased;/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;/* Support for IE. */
  font-feature-settings: 'liga';
}



label, label:before, label:after {
    position: fixed;
    top: 10px;
    left: 8%;
width: 60px;
    height: 60px;
    border-radius: 50%;
      background-color: #446CB3;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 8px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}
label #open {
    position: absolute;
    top: -28px;
    left: 11px;
    color: white;
    font-size: 38px !important;
    cursor: pointer;
}
label #close {
    opacity: 0;
    cursor: pointer;
}
#menu-toggle:not(:checked) + label:hover {
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 0px 12px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 12px 12px 0px;
}

#menu {
    position: absolute;
    padding: 0;
    top: 199px;
    left: 8%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

#menu-toggle:checked + label {
    position: absolute;
    top: 4%;
    left: 16%;
    width: 200px;
 height: 335px;

    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 8px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
#menu-toggle:checked + label #open {
    opacity: 0;
    pointer-events: none;
}
#menu-toggle:checked + label #close {
    position: absolute;
    top: -40px;
    right: 10px;
    color: #2c3e50;
    font-size: 48px!important;
    opacity: 1;
}

#menu-toggle:checked + label + #menu {
    position: absolute;
    margin: 0;
    top: 10%;
    left: 16%;
    width: 200px;
    height: 250px;
    border-radius: 3px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}

#menu-toggle:not(:checked) + label + #menu li {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
    
}
#menu-toggle:checked + label + #menu li {
    opacity: 1;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: .2s ease .1s;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    display: none;
}

.float-menu{
  position: static;
    top: 0%;
    left: 2%;
}

.float-menu *{
      list-style: none;
    text-decoration: none;
    outline: 0;
  }

  .float-menu a{
        color:#2c3e50;
    text-indent: -10px;
    font-size: 20px;
  }