@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family='Raleway', sans-serif;:300,500,700,900');

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 110px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6078EA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form textarea{
   font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#numOfSpam{
     font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #8E44AD
}
.form .message, #errormsg, #errormsg2{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #17EAD9; /* fallback for old browsers */

  font-family: "raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}





  #logo {
       font-family: raleway;
    font-weight: 900;
     position: absolute;
    width: 0%;
    height: 10vh;
    background-color: transparent;
    color: #2C3E50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 1.25s ease-in-out;
    transition: background-color 1.25s ease-in-out;
    left: 50%;
    top: 0%;
    -webkit-transform: translateY(50%);
    transform: translateY(88%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    font-size: 53px;
}






.myButton {
  background-color:transparent;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  border:5px solid #2C3E50;
  display:absolute;
  cursor:pointer;
  color:#2C3E50;
  font-family:raleway;
  font-weight:900;
  font-size:18px;
  padding:12px 29px;
  text-decoration: none;
  position:absolute;
    top: 5%;
    left: 70%;


}
.myButton:hover {
  background-color:transparent;
  border-radius:15px;
  border:6px
  font-size:19px;
}
.myButton:active {
   position:fixed;
   border-radius:30px;
   font-size:18px;
  
}



.title-container {
  position: absolute;
  top: 26%;
  left: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title-container .title {

  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  margin: 0;
  
  color: #6078EA;
}




.rc-anchor-normal {
    height: 74px;
    width: 268px !important;
}






.logout {
  background-color:transparent;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  border-radius:22px;
  border:5px solid #2C3E50;
  display:absolute;
  cursor:pointer;
  color:#2C3E50;
  font-family:raleway;
  font-weight:900;
  font-size:18px;
  padding:12px 29px;
  text-decoration: none;
  position:absolute;
    top: 5%;
    left: 58%;


}
.logout:hover {
  background-color:transparent;
  border-radius:15px;
  border:6px
  font-size:19px;
}
.logout:active {
   position:fixed;
   border-radius:30px;
   font-size:18px;
  
}


.box2 {
    margin: 0px;
    position: absolute;
    display: inline-block;
    width: 700px;
    height: 150px;
    top: 33%;
    left: 28%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    left: 25%;
    width: 49%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  }

  /* Create the hidden pseudo-element */
  /* include the shadow for the end state */
  .box2:after {
    content: '';
    position: fixed;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,0.2);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  }

  .box2:hover {

  }

  .box2:hover:after {
      opacity: 1
  }


  #result, #name, #result2{
     font-family: 'Raleway', sans-serif;;
       font-weight: 900;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;

    left: -274%;
    top: -33%;
}
#email{
    font-family: 'Raleway', sans-serif;;
    font-weight: 300;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
    font-size:20px;
    left: -274%;
    top: 20%;
}
#tobs{
    font-family: 'Raleway', sans-serif;;
    font-weight: 300;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
    font-size:20px;
    left: -274%;
    top: 53%;
}


.results{
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
  }


#num {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    position: absolute;
    width: 650px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
        left: -18%;
    top: -50%;
    font-size: 58px;
        text-align: center;
}


#underNum{
      font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: absolute;
        width: 127px;
    height: 80vh;
    background-color: transparent;
    color: #2C3E50;
        left: 243%;
    top: 53%;
    
    font-size: 14px;
}

  div.vertical-line{
      width: 1px; /* Line width */
      background-color: rgba(0, 0, 0, 0.55);; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: left; /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
    }

.box3{
 margin: 0px;
    margin-top: auto;
    position: absolute;
    display: inline-block;
    width: 806px;
    height: 150px;
    top: 135%;
    left: -1%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}



    .box3:after {
    content: '';
    position: fixed;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,0.2);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  }

  .box3:hover {

  }

  .box3:hover:after {
      opacity: 1
  }


@media only screen and (max-width: 1450px) {
.box2{
      left: 21% !important;
    width: 58% !important;
}

}

@media only screen and (max-width: 1100px) {
.results {
    width: 83px;
    height: 100px;
  }
  #num {
        left: -66%;
      }
.box3{
      width: 134px;
    height: 127px;
}
#underNum {
display:none;
}
}


@media only screen and (max-width: 980px) {
.myButton{
    top: 5%;
    left: 13%;
    padding: 9px 113px;
  }
  .logout {
    top: 5%;
    left: 60%;
    padding: 9px 68px;
  }
}



.viewSpammer{
    padding: 15px;
    z-index: -1;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    margin-left: 24%;
        max-width: 53%;
            margin-bottom: 20px;
}



.backArrow{
font-size: 51px;
    line-height: 32px;
    width: 1em;
    height: 36px;
    position: fixed;
    padding: 11px;
    padding-left: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(180deg);
    color: white;
    /* border: 2px solid white; */
    border-radius: 50%;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
  }

.backArrow:hover {
    background: rgba(255,255,255,.5);
}
.backArrow:active {
    position: relative;
    right: 2px;
}

/* Document Styling */

.containerback {
padding-top: 2em;
    margin: auto 6%;
}